<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Ejemplo</title>
</head>
<body>
    <form action="/handle_form" method="post">
        <a href="/empleados"><button type="button">Empleados</button></a>
        <a href="/horarios"><button type="button">Horarios</button></a>
        <a href="/rol"><button type="button">Rol</button></a>
        <a href="/visualizaciones"><button type="button">Visualizaciones</button></a>
    </form>
</body>
</html>