<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function redirectTo(url) {
            window.location.href = url;
        }
    </script>
</head>
<body>
    <form action="/handle_form" method="post">
        <button type="button" onclick="redirectTo('/add_rol')">Agregar rol</button>
        <button type="button" onclick="redirectTo('/delete_rol')">Eliminar rol</button>
        <button type="button" onclick="redirectTo('/edit_rol')">Editar rol</button>
    </form>
</body>
</html>
